/***    General     ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
}

.m-5-auto {
    margin: 5rem auto;
}

.primary-button {
    margin-top: 5rem;
    margin-right: 1rem;
    padding: 0.6rem;
    width: 10rem;
    background: #222;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.5s;
    cursor: pointer;
    text-transform: capitalize;
}

/***    Landing Page     ***/
.main-title,
.main-para {
    color: #f1f1f1;
}

.main-title {
    padding-top: 10rem;
    font-size: 5rem;
    font-family: 'Fascinate', cursive;
    text-transform: uppercase;
}

.main-para {
    font-size: 2.5rem;
    text-transform: capitalize;
}

#reg_btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#reg_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#reg_btn:hover span {
    padding-right: 25px;
}

#reg_btn:hover span:after {
    opacity: 1;
    right: 0;
}

/***    Login Page     ***/
h2 {
    font-weight: 300;
}

form {
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0;
}

form label {
    float: left;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

.right-label {
    float: right;
    cursor: pointer;
}

input {
    width: 15rem;
    padding: 0.3rem;
    border-radius: 5px;
    outline: none;
    border: none;
}

#sub_btn {
    display: block;
    width: 100%;
    padding: 0.3rem;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 3px;
}

#sub_btn:hover {
    background: #333;
    transition: all 0.5s;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

/***    Register Page     ***/
#checkbox {
    width: 1rem;
}

form span {
    font-size: 0.8rem;
}

#reset_pass_lbl {
    float: left;
}

/***    Home Page     ***/
.home-page-title {
    color: #222;
}

/* extra */

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
    padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
    margin: 0;
}

.card__image {
    width: 100%;
}

.card__image img {
    width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #00695c;
    color: white;
}

.btn.danger {
    color: red;
    border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
    background: red;
    color: white;
}

.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}
